# Maven
/target/

# Logs
*.log

# IDEs
.idea/
.vscode/
*.iml

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração locais
.env

# Arquivos compilados
*.class

# Arquivos temporários
*.tmp

# Lombok
*.lombok

# Node (caso tenha frontend)
node_modules/

#Variáveis locais
.env